@media screen and (max-width: 1420px) {
  body {
    width: 100%;
  }
}
@media screen and (max-width: 1300px) {
  .hero-right-block {
    gap: 20px;
  }
  .hero-right-block-second {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .about-block-third img {
    display: none;
  }
  .about-block-first img,
  .about-block-second img {
    width: 100%;
  }
  .about-block-first,
  .about-block-second,
  .about-block-third {
    width: 728px;
  }
}
@media screen and (max-width: 910px) {
  .faq {
    flex-direction: column;
  }
  .faq-block,
  .faq-accordion {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: #222;
    justify-content: center;
    align-items: center;
  }
  .nav ul {
    flex-direction: column;
    align-items: center;
  }
  .nav.active-nav-menu {
    display: flex;
  }
  .nav-list_item {
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-burger {
    display: flex;
    z-index: 2;
  }
  .header-burger.active-btn-burger {
    gap: 0;
  }
  .burger-line-first.active-burger-line {
    width: 20px;
    transform: translateY(50%) rotate(45deg);
  }
  .burger-line-second.active-burger-line {
    transform:translateY(-50%) rotate(-45deg);
  }
  .hero-right-block-first_info-title {
    font: 300 68px/118% "Oswald";
    width: 408px;
  }
  .hero-right-block-third {
    width: 220px;
  }
}
@media screen and (max-width: 750px) {
  .hero-left-block {
    display: none;
  }
  .hero-right-block {
    width: 100%;
  }
  .faq-accordion-item:first-child {
    height: 100%;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 675px) {
  .hero-right-block {
    flex-direction: column;
  }
  .hero-right-block-first {
    padding: 60px 0px 0px;
  }
  .hero-right-block-first_btn-scroll {
    display: none;
  }
  .hero-right-block-third {
    align-self: flex-end;
    gap: 60px;
  }
}
@media screen and (max-width: 615px) {
  .footer-phone {
    flex-direction: column;
  }
  .footer-input,
  .footer-btn {
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  .footer-social {
    height: 100%;
    flex-direction: column;
  }
}
@media screen and (max-width: 440px) {
  .hero-right-block-first_info-title {
    font: 300 56px/114% "Oswald";
  }
  .price-container_card {
    width: 100%;
  }
}
